.display-center.full-width{
background-image: url("https://t3.ftcdn.net/jpg/03/89/59/38/360_F_389593858_cexEfQu479fzbBirarOJISDj2iE8Sn9v.jpg");
background-size:  auto;  
height: 100%;
background-position: center;
/* background-repeat: no-repeat; */
/* background-size: 100%; */


}