
  .mat-bottom-sheet-container{
    min-width: 250px;

  }

   .buttons{
    /* margin-bottom: 20px;
    margin-top: 20px;  */
    /* padding:10px; */
    height: 20vh;
  } 

  .mode-posts{
  float: right;    
  margin: 20px;
  margin-right: 400px;
  height: 100px;
  width: 100px;
}

.icon{height:48px !important;
width:48px !important;
font-size:48px !important;
}
  .add-friend,.friends{
    padding:30px;
    margin: 20px;
    font-size: 30px;
  }

  .parent{
    display: flex;
    height: calc(100vh - 20vh); 

  }

  .wide{
    display: flex;
    flex: 1;
    height: 100%; 
    overflow-y: auto;
    justify-content: center;
  }

  .narrow{
    margin: 20px;
    height: 100%; 
  }

.logout-btn{
  float: right;
  height: 20vh;
  margin: 10px;
}