<!-- 
<app-add-new-post> </app-add-new-post> -->


<!-- <app-map> </app-map> -->

<!-- <app-map></app-map> -->

<!-- <div class="buttons">
    <button mat-raised-button class="add-friend" (click)="openBottomSheet()">Add new Post</button>
    <button mat-raised-button class="friends">Friends</button>
    <button class="mode-posts"mat-fab color="primary">
      <mat-icon>swap_horiz</mat-icon>
    </button>
  </div>

    <div class="row">
    <div class="col-sm-4"><app-posts [posts$]="postsInMain$" (postIdToBeDeletedEvent)="deletePostById($event)"
        (likeEvent)="likePostById($event)"></app-posts>  </div> --> 

<!-- <div class="col-sm-8">
        <app-map [posts$]="postsInMain$" > 
        </app-map>
      </div>
    </div>  -->

<!-- <app-map > 
    </app-map> -->
<div class="buttons">
  <button mat-raised-button class="add-friend" (click)="openBottomSheet()">Add new Post</button>
  <button mat-raised-button class="friends">Friends</button>
  <button class="mode-posts" mat-fab color="primary" (click)="changeMode()">
    <mat-icon>swap_horiz</mat-icon>
  </button>
</div>

<div class="parent">
  <div class="narrow">
    <app-filter-form (filterEvent)="getFilters($event)"> </app-filter-form>  
  </div>
  <div class="wide">
    <!-- <app-map [posts$]="postsInMain$"></app-map> -->

    <app-posts [posts$]="postsInMain$" (postIdToBeDeletedEvent)="deletePostById($event)"
      (likeEvent)="likePostById($event)"></app-posts>
  </div>
</div>
