

<div class="logout-btn">
  <button mat-fab color="primary" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</div>
<div class="buttons">
  <button mat-raised-button color="primary" class="add-friend" (click)="openBottomSheet()">Add new Post</button>
  <button mat-raised-button color="primary" class="friends" (click)="openFriends()">Friends</button>
  <button class="mode-posts" mat-fab color="primary" (click)="changeMode()">
    <mat-icon class="icon">swap_horiz</mat-icon>
  </button>
</div>

<div class="parent">
  <div class="narrow">
    <app-filter-form (filterEvent)="getFilters($event)"> </app-filter-form>  
  </div>
  <div class="wide">
    <!-- <div *ngIf="isMapMode"> -->
      <app-map *ngIf="isMapMode" [posts$]="postsInMain$"></app-map>
    <!-- </div> -->
 <!-- <div *ngIf="!isMapMode"> -->
        <app-posts *ngIf="!isMapMode" [posts$]="postsInMain$" (postIdToBeDeletedEvent)="deletePostById($event)"
      (likeEvent)="likePostById($event)" (commentInPostsEvent)="commentToAdd($event)" ></app-posts>
  <!-- </div>   -->
</div>
<!-- <app-filter-form (filterEvent)="getFilters($event)"> </app-filter-form>   -->
