/* 
.my-container {
}
:host{
    overflow: hidden;
} */
::ng-deep .mat-dialog-content {
    max-height: 100%;
}
::ng-deep .mat-dialog-container{
    padding: 1;
    overflow-x: hidden;
    width: auto;
    height: auto;
  }