<div class="limiter">
  <div class="container-image">
    <div class="wrap-login100">
      <span class="sign-up100-form-title">
        <h1> <strong>SIGN-UP </strong> </h1>
      </span>
      <mat-card class="example-card">
        <mat-card-content>
            <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

              <mat-form-field appearance="outline" class="name">
                <mat-icon matPrefix>account_box</mat-icon>
                <input matInput formControlName="name" type="text" placeholder="Name">
              </mat-form-field>

              <mat-form-field appearance="outline" class="email">
                <mat-icon matPrefix>email</mat-icon>
                <input matInput formControlName="email" type="email" placeholder="Email">
              </mat-form-field>

              <mat-form-field appearance="outline" class="userName">
                <mat-icon matPrefix>account_box</mat-icon>
                <input matInput formControlName="userName" type="text" placeholder="User Name">
              </mat-form-field>

              <mat-form-field appearance="outline" class="address">
                <mat-icon matPrefix>location_on</mat-icon>
                <input matInput formControlName="address" type="text" placeholder="Address">
                <mat-error>
                  Address is required
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-icon matPrefix>lock</mat-icon>
                <input matInput formControlName="password" type="password" placeholder="Password"
                  [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>
                  Password is required
                </mat-error>
              </mat-form-field>

            
              <div class="display-center">
                <button type="submit" class="btn">
                  SignUp
                </button>
              </div>
            </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>