.example-card {
    max-width: 500px;
  }
  
  .example-form {
    width: 250px;
    /* width: 100%; */
    /* margin: 10px; */
     display: flex;
     flex-flow: row; 
    /* margin: 5px; */
  }
  
  .example-full-width {
    width: 100%;
  }

  .buttons{
    float: right;
  }

  .comments-container{
    max-height: 150px;
    overflow-y: auto;
    /* max-width: 300px; */
  }

  .like, .delete{
    color: red;
  }


  .post{
    align-content: center;
  }