<div class="post">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="title">
                <!-- {{ post?.id }} -->
                <!-- ngIf="post.userEmail == current user " -->
                <div class="title-card-right" *ngIf="post?.userId == currentUserId">
                    <!-- <button mat-icon-button (click)="deletePost(post?.id)">
                        <mat-icon class="delete">delete</mat-icon>
                    </button> -->
                    <button class="edit-btn" mat-icon-button (click)="editPost(post)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>

                <div *ngIf="post?.userId == currentUserId" class="title-card-left">
                    {{ currentUserName }}
                </div>

                <div *ngIf="post?.userId != currentUserId" class="title-card-left">
                    {{ post?.user?.userName }}
                </div>
        
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]=" post?.imageSorce  ">
        <mat-card-content>
            <p>
                {{post?.description}}
            </p>
            <br>
            <p>
                <strong>{{ post?.date | date:'mediumDate' }} </strong>
            </p>
        </mat-card-content>
        <mat-card-actions>
            {{ numberOfLikes }}

            <button mat-icon-button (click)="addLike(post?.id)">
                <mat-icon class="like">{{ userLike? 'favorite': 'favorite_border' }}</mat-icon>
            </button>
            <button mat-icon-button (click)="openComments()">
                <mat-icon> comment</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>

    <div class="comments-container" *ngIf="showComments$ | async">
        <app-comments [comments]="comments"> </app-comments>
        <form class="example-form" [formGroup]="addCommentForm" (ngSubmit)="comment(post!.id)" >
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput formControlName="content"></textarea>
            </mat-form-field>
            <div class="add-comment">
            <button mat-raised-button color="primary" type="submit" >Comment</button>
          </div>
        </form>
    </div>
</div>
