<!-- <app-sign-up-form> </app-sign-up-form> -->

<!-- <app-login-form> </app-login-form>   -->

<!-- <app-add-new-post> </app-add-new-post> 
<app-filter-form></app-filter-form>  -->
<!-- <app-map> </app-map> -->
<!-- <app-add-new-post> </app-add-new-post> 

<app-map> </app-map>  -->
<!-- <button (click)="getPosts()"> get post </button>

<div *ngFor="let postEl of posts">

    {{postEl}}

 </div>  -->
 <!-- <div class="app-container">

    <router-outlet> </router-outlet>
</div> -->

<!-- <app-map> </app-map> -->
<!-- <app-filter-form></app-filter-form>  -->
<!-- <app-main-screen> </app-main-screen>  -->
<!-- <div class="app-container">
    <app-main-screen> </app-main-screen>
</div> -->

<!-- <app-forgot-password> </app-forgot-password> -->

 <div class="app-container">
    <router-outlet> </router-outlet>
<!-- <app-friendships> </app-friendships> -->
</div>