.example-card {
    max-width: 500px;
   padding: 30px;
   /* background-color: rgb(146, 176, 233); */
  }

  .mat-form-field {
    width: 100%;
  }

  .form{
    width: 100%;
  }


  ::ng-deep .mat-form-field-wrapper{
          width: 100%;
  }


  .mat-form-field-flex ng-tns-c81-0{
    padding: 20px;

  }

  

.btn{
  text-align: center;
}

.btn-search{
  height: 100px;
  width: 100px;
}

.icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
}